
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: white;
  }

  .col{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
  }

  h1 {
    font-size: 20px;
    color: rgb(33, 140, 182)
  }
  /* Giving our navbar some padding and a background color */
  .navbar {
    padding: 10px;
    background: white;
  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar li {
    display: block;
    float: right;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
  }

  
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: #000;
    text-decoration: none;
  }

  .deb-main{
    background: lightgrey;
  }
  .deb-side{
    background: lightgrey;
  }
  
  .deb-container{
    background: rgb(218, 223, 228);
    min-height: 100vh;
  }
  
  .nav-select {
    visibility: hidden;
  }
  .image{
    width:100px;
    height:100px;
    margin:2%;
    
  }
  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }